version: '3.8'
services:  
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=TuContrase単aFuerte123
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - ./sql_executed:/var/opt/mssql/scripts
    entrypoint:
      - /bin/bash
      - -c
      - |
        /opt/mssql/bin/sqlservr & 
        sleep 30s
        /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P TuContrase単aFuerte123 -d master -i /var/opt/mssql/scripts/createTable.sql -C & 
        sleep 30s
        /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P TuContrase単aFuerte123 -d master -i /var/opt/mssql/scripts/dataTables.sql -C
        wait
    networks:
      - api-network
  api:
    image: api
    build:
      context: .
      dockerfile: Dockerfile  
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:5000
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=HCC;User Id=sa;Password=TuContrase単aFuerte123; TrustServerCertificate=True; 
    ports:
      - "5000:5000"
    networks:
      - api-network
    depends_on:
      - sqlserver
networks:
  api-network:

